@import "~bootstrap/dist/css/bootstrap.css";
@import '~ngx-toastr/toastr';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    background-color: white;
    color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-rendering: optimizeLegibility;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.login,.signup{    
    background-color: transparent;
    border-color: orange;
    color:orange;
    fill:orange;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;  
}