<div class="home-body">

  <div class="container">
    <div class="row">
      <hr/>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Full name</th>
            <th scope="col">Course Id</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of courses; let i = index" [attr.data-index]="i">
            <th scope="row">{{i+1}}</th>
            <td>{{course.fullname}}</td>
            <td>{{course.id}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

